.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(11, 54, 93);
  background: linear-gradient(
    330deg,
    rgba(11, 54, 93, 1) 0%,
    rgba(56, 56, 230, 1) 40%,
    rgba(11, 109, 213, 1) 63%,
    rgba(0, 212, 255, 1) 100%
  );
}
